# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Binaries / runtime
sing-box
xray
clash-meta
mihomo
*.tar.gz
*.zip
*.gz

# Temp files
*.tmp
*.log
.cache/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
