# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Binaries
clash-meta
xray
mihomo
*.zip
*.gz

# Temporary files
list_raw.txt
list_result.csv
sources_report.txt
sources_new.list
valid_nodes.txt
clash_config.yaml
__cache__/

# Test reports
test_report*.txt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
